* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(44, 19, 12);
}

body {
    background-color: antiquewhite;
}

header {
    text-align: center;
    display: block;
    background-size: cover;
}

span p {
    text-align: center;
    white-space: nowrap;
}

.Productos {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.Productos .BoxItems {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
}

.Productos .BoxItems .Item {
    max-width: 200px;
    padding: 10px;
    margin: auto;
    padding: 20px;
}

.BoxItems .Item .ImgProducto {
    width: 100%;
}

.BoxItems .Item .NombreItem {
    display: block;
    font-weight: bold;
    text-align: center;
}

.BoxItems .Item .Valor {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.BoxItems .Item .BotonAgregar {
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    border: none;
    background: rgb(44, 19, 12);
    color: antiquewhite;
}

footer {
    text-align: center;
}